{% import 'package_macros.j2' as pkt_macros with context %}
---
{{ pkt_macros.print_comment('##' ) -}}
{{ packages__export_key_name }}:
  {{ pkt_macros.gen_package_list(packages__classes_combined[item]).split('\n') | to_nice_yaml | indent(2) }}
